payz
*.o
*.la
*.lo
*~
Makefile.in
config.h.in
*.trs
*.scan
config.status
config.h
payz_config.h
payz_config.h.in
configure
*.log
*.m4
libtool
INSTALL
Makefile
TAGS
autom4te*
m4
stamp-*
auxdir
.deps
.dirstamp
.libs
test_*
!test_*.c
